.jumbotron {
    background-image: url(../Images/k-mitch-hodge-9LVyatNYI_Y-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.card-body {
  position:relative;
  bottom: 0; z-index:1;
  color:gray;
}

.btn {
  background-color: orange;
  border: orange;
}

* { margin:0; padding: 0; box-sizing: border-box; font: 1em sans-serif; text-align: center;}

div.grid-container {
  display:grid;
  row-gap: 20px;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5% 48% 48%;
  justify-items: center;
  background-color: rgb(236, 243, 245);
  
}
.img.scale {
  width:75%; height:auto;}

.scale {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

header {color: rgb(32, 29, 29); font-size:xx-large;}

header {grid-column: span 3;
}

@media only screen and (max-width: 600px) {
div.grid-container {
  grid-template-rows: repeat(7, auto);}
  .scale {grid-column: span 3;}
  img.scale {width:50%; height:auto;}
}

.sorry {
  color:blueviolet;
  background-image: url(..Images/quinn-villarreal-x9z0aFcHiyk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
}

div.flex-container {
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}
div.flex-container > div {
  padding: 100px;
  font: 1.25em sans-serif;
}

div.sorry > div > a > button {
    background-color: gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

div.flex-container > div > a > button {
    background-color: gray;
    border: none;
    color: white;
    width: 200px;
    height: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }

.heading {
  color:gray;
  padding-top: 30px;
  padding-bottom: 30px;

}